@import url('https://fonts.googleapis.com/css2?family=Andika:ital@0;1&family=Open+Sans&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:ital@0;1&family=Open+Sans&family=Poppins:wght@700&family=Volkhov:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:ital@0;1&family=Open+Sans&family=Poppins:wght@200;700&family=Volkhov:wght@700&display=swap');
.MainContent{
    margin-top: -2.5rem;
}

.HeadLine{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-top: -31rem;
    margin-left: 6.5rem;
    color: #DF6951;
    font-weight: bold;
}

.MainLine{
    font-family: 'Volkhov', serif;
    font-weight: bold;
    font-size: 3.75rem;
    margin-left: 6.5rem;  
    margin-top: 3rem; 
    color: #181E4B;
}

.MainUnderLine{
    position: relative;
    z-index: -1;
    transform: translateY(-23.25rem);
    margin-left: 18rem;
    height: 0.6rem;
}

.MainEndLine{
    margin-left: 6.5rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #5E6282;
    margin-top: -2.5rem;
}

.MainContentButton{
    margin-left: 6.5rem;
    width: 10rem;
    height: 3.5rem;
    border-radius: 0.8rem;
    background-color: #F1A501;
    color: #fff;
    border: none;
    font-family: 'Open Sans', serif;
    box-shadow: 0.05rem 0 0.25rem  #efb842;
}

.MainContentButtonRed{
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    margin-left: 2.5rem;
    transform: translateY(0.5rem);
    background-color: #DF6951;
    border: none;
    color: #fff;
    text-align: center;
    box-shadow: 0.05rem 0 0.25rem  #f5917e;
}

.MainContentButton:hover{
    cursor: pointer;
    width: 10.2rem;
    height: 3.7rem;
}

.MainContentButtonRed:hover{
    cursor: pointer;
    width: 3.7rem;
    height: 3.7rem;
}

@media (max-width: 600px) {
    .MainContent{
        margin-top: 35rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        margin-left: 0rem;
    }

    .HeadLine{
        margin-left: 0rem;
        text-align: center;
    }

    .MainLine{
        font-size: 2.5rem;
        margin-top: 0.5rem;
    }

    .MainEndLine{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: -1rem;
        text-align: center;
    }

    .MainUnderLine{
        display: none;
    }

    .MainContentButton{
        margin: auto;
    }

    .MainContentButtonRed{
        margin-left: 12rem;
        margin-top: 1rem;
    }
}